{{> header}}

<link rel="stylesheet" href="/css/mainPage.css" type="text/css" />

<body>
    <div id = "title">
        <h1>This page is documentation on how to use this API</h1>
    </div>
</body>

<div id = "footer">
    {{> footer}}
</div>
